<!-- Elements added to "main.html" will be displayed on all pages -->

{% extends "base.html" %}


{% block announce %}


  <!-- Extra stylesing -->
  <style>
    .md-announce a,
    .md-announce a:focus,
    .md-announce a:hover{color:currentColor}.md-announce
    strong{white-space:nowrap}.md-announce
</style>

<a href="https://www.linkedin.com/company/binbash">
<p style="color: #D5EE1C">For updates follow <strong style="color: #D5EE1C">@binbash</strong> on
  <span class="twemoji linkedin" style="color: #0e76a8">
    {% include ".icons/fontawesome/brands/linkedin-in.svg" %}
  </span>
  <strong style="color: white">LinkedIn</strong>
</p>
</a>




{% endblock %}

{% block extrahead %}
    <!-- main.html | Added "navigation.instant" support -->
    <link rel="canonical" href=".">
{% endblock %}