{% extends "base.html" %}

{% block htmltitle %}
  {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }} - MEROX.DEV</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} - MEROX.DEV</title>
  {% else %}
    <title>MEROX.DEV</title>
  {% endif %}
{% endblock %}

{% block extrahead %}
  <!-- main.html | Added "navigation.instant" support -->
  <link rel="canonical" href=".">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2989869646477878" crossorigin="anonymous"></script>
  <!-- apple touch icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <!-- buy me a coffee -->
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="merox.dev" data-description="Support me on Buy me a coffee!" data-color="#fdb503" data-position="Right" data-x_margin="18" data-y_margin="18" class="bmc-widget"></script>
{% endblock %}