{% extends "base.html" %}

{% block htmltitle %}
  {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }} | Docs - Merox </title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} | Docs - Merox </title>
  {% else %}
    <title>Docs - Merox</title>
  {% endif %}
{% endblock %}

{% block announce %}
    <p style="margin: 0;">
      this website is part of <a href="https://merox.dev">www.merox.dev</a>
    </p>
{% endblock %}


{% block extrahead %}
  <!-- main.html | Added "navigation.instant" support -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2989869646477878" crossorigin="anonymous"></script>
  <script>
  document$.subscribe(function() {
    (adsbygoogle = window.adsbygoogle || []).push({});
  });
</script>
  <!-- apple touch icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <!-- buy me a coffee -->
 <!-- <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="merox.dev" data-description="Support me on Buy me a coffee!" data-color="#E0E0E0" data-position="Right" data-x_margin="18" data-y_margin="18" class="bmc-widget"></script> -->
{% endblock %}
