:root {
  --md-primary-fg-color:        #1877F2;
  --md-primary-fg-color--light: #1877F2;
  --md-primary-fg-color--dark:  #1877F2;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.7rem;
}
