:root {
  --md-primary-fg-color:        #14151a;
  --md-primary-fg-color--light: #189191;
  --md-primary-fg-color--dark:  #0e4d4d;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.7rem;
}


/* Fix pentru overlay care blochează meniul */
.md-overlay {
    z-index: 1 !important;
    display: none !important;
}

/* Asigură afișarea meniului lateral */
.md-sidebar--primary {
    display: block !important;
    transform: translateX(0) !important;
    opacity: 1 !important;
    visibility: visible !important;
}